# Core functionality - changes here should be rare!
/src/app.py                   @lavinarok
/src/backend/database.py      @lavinarok
/src/backend/routers/auth.py  @lavinarok

# The frontend will need refactored soon to be more object oriented.
/src/static/   @lavinarok
